
html{
    background-color: #EEf9bf;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

header{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    letter-spacing: -0.04px;
    font-weight: 700;
    color: #75b79E;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    line-height: 63PX;

    box-sizing: border-box;
}

.cards{
    height: auto;
    width: auto;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

.card{
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin: 17px;
    cursor: pointer;
}

.card div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    padding: 10px;

}


.card .front{
display: flex;
justify-content: center;
align-items: center;



}

.card .back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.flipped{
    transform: rotateY(180deg);
}

.card > * > img {
    width: 100px;
    height: 100px;
}

@media (max-width:436px){
    h1{
       font-size: 36px;
       line-height: 42px; 
    }

    header{
        height: 63px;
    }
}